/* Estilos para el fondo de la ventana */
#rootPane {
    -fx-background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el logo de Activify */
#LogoActivify {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0); /* Sombra */
}

/* Estilos para el icono de usuario */
#IconPhoto {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0); /* Sombra */
}

#TextActividades {
    -fx-border-color: transparent;
    -fx-text-fill: #a1a1a1;
    -fx-font-family: "Roboto";
    -fx-font-size: 30.0;
}
#progresoContainer {
    -fx-background: #575757;
    -fx-border-color: #575757;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}
#paneForm {
    -fx-background: #575757;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
#background{
    -fx-background: #575757;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-border-color: #575757;
}
#scrollPane{
    -fx-background: #575757;
    -fx-border-color: #575757;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, #494949, 10, 0, 0, 0);
    fx-effect: innershadow(three-pass-box, #494949, 10, 0, 0, 0);
}